<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Angular-CRUD</h1>
        <div class="D-flex">
            <button class="btn btn-success">Add</button>
        </div>
    </div>
</nav>

<div>
    <form class="form">
        
        <div class="mb-3">
          <label for="fname" class="form-label">First name</label>
          <input type="text" class="form-control" id="fname">
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="Lname">
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>

         
        <div class="mb-3">
            <label for="mnumber" class="form-label">Mobile no.</label>
            <input type="number" class="form-control" id="mnumber">
        </div>

        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="mnumber" min="0">
        </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Tearms & conditions</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email Id</th>
            <th scope="col">Mobile no.</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

<tbody>
    <tr>
        <td>1</td>
        <td>Tatsat</td>
        <td>Patel</td>
        <td>tatsat123@gmail.com</td>
        <td>4521454758</td>
        <td>$ 45000</td>
        <td>
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger mx-3">Delete</button>
        </td>
    </tr>
</tbody>
</table>
